<!-- filepath: /c:/Users/USER/Desktop/check/blogapp/blog/templates/blog/blog-details.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Blog details{% endblock %}

{% block content %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                {% load static %}

                <div class="card mb-3">
                    <div class="row g-0">
                            
                        <div class="col-md-12">
                            <div class="card-body">
                                <h1 class="card-title mb-3"> 
                                    {{ blog.title|title }}
                                </h1>
                                <img src="{{ blog.image.url }}" alt="" class="img-fluid" >
                                <p class="card-text">{{ blog.description|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

